---
import data from "../data/faq.json";
import '../styles/observer.css';
---

<section class=" relative my-28 flex flex-col gap-12 px-4 -mt-64 sm:mt-auto">

  <h2 class="observed fade-up text-center font-semibold text-3xl">
    {data.title}
  </h2>
  <div
    class="observed fade-up relative w-full border dark:border-gray-700 dark:bg-gray-800 px-6 pt-10 pb-12  shadow-2xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10 dark:shadow-black/50 shadow-gray-300/50"
  >
    <div class="mx-auto ">
      <p class="mt-2 text-3xl text-indigo-500 text-left font-semibold">
        {data.subtitle}
      </p>
    </div>
    <div class="mx-auto mt-4 grid max-w-xl divide-y divide-neutral-200">
      {
        data.questions.map((question) => (
          <div class="py-5">
            <details class="group">
              
              <summary class="hover:text-indigo-500 transition flex cursor-pointer list-none items-center justify-between font-medium">
                <span class="group-open:text-indigo-500"> {question.title}</span>
                <span class="transition group-open:rotate-180 group-open:text-indigo-500">
                  <svg
                    fill="none"
                    height="24"
                    shape-rendering="geometricPrecision"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    width="24"
                  >
                    <path d="M6 9l6 6 6-6" />
                  </svg>
                </span>
              </summary>
              <p class="mt-3 transition-all text-gray-500 ">
                {question.description}
              </p>
            </details>
          </div>
        ))
      }
    </div>
  </div>
  <div class="absolute inset-x-0 md:-translate-y-48  -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(60%) ] rotate-270 scale-75" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</section>
